/* Color Palette
#2A4363 - Dark Blue
#45BD9C - Darker Green
#64C6BC - Tealish Green
#ffffff - White
#404041 - Dark Grey for text
*/

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #404041;
  margin: 0;
}

header {
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  width: 100%;
  color: #2A4363;
}

h2 {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button {
  padding: 1em;
  border: 2px solid #2A4363;
}

.hover {
  border: 2px solid #45BD9C;
  background-color: #45BD9C;
  color: #ffffff;
}
